// Home Page Style Start ==================>>>
.home_page {
  width: 100%;
  height: 100vh;
  background: $dark;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    background: $light;
    width: 100%;
    max-width: 500px;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: rgba($color: $primaryLight, $alpha: 0.1) 0px 0px 5px 0px;

    .logo {
      margin-bottom: 20px;

      h2 {
        font-weight: 900;
        color: $primary;
      }
      p {
        color: $white;
        margin-top: 5px;
        font-size: 12px;
      }
    }

    .join_form {
      .input {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        label {
          color: $light_text;
          font-size: 12px;
        }
        input {
          margin-top: 5px;
          color: $white;
        }
      }

      .join {
        margin-top: 20px;
      }
    }

    .message {
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        color: $light_text;
      }
    }
  }
}
// Home Page Style End ==================>>>

// editor Page Style Style ==================>>>
.editor {
  width: 100%;
  height: 100vh;
  background: $dark;

  display: flex;

  .sidePanal {
    background: $light;
    width: 100%;
    max-width: 300px;
    padding: 30px 30px;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba($color: $primaryLight, $alpha: 0.1) 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .upper_sourse {
      .logo {
        margin-bottom: 20px;

        h2 {
          font-weight: 900;
          color: $primary;
        }
        p {
          color: $white;
          margin-top: 5px;
          font-size: 12px;
        }
      }

      .connected_users {
        margin-top: 50px;

        h4 {
          color: $light_text;
        }
        .users {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 10px;
          justify-content: start;
          overflow-y: scroll;
          padding: 20px 0;
          height: 50vh;

          .user {
            height: 60px;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $light_text;
            position: relative;
            font-size: 14px;
            color: $white;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              background: $primary;
            }
          }
        }
      }
    }

    .side_bar_foot {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .copy_room_id {
        background: transparent;
        color: $primary;
        border-color: $primary;

        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
  }

  .codeEditor {
    width: calc(100% - 300px);
    padding: 0px;
    padding-left: 10px;
    height: 100%;
    overflow-y: scroll;

    .cm-editor.ͼ1.ͼ3.ͼ4.ͼ2i.ͼ16,
    .cm-editor.ͼ1.ͼ3.ͼ4.ͼ2o.ͼ16 {
      background: transparent;
    }

    .ͼ16 {
      background: transparent !important;
    }

    .ͼ16 .cm-gutters {
      background: transparent;
    }
  }
}
// editor Page Style End ==================>>>

// Confirm Style Start ==================>>>
.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $pop_back_drop;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainPopup {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    background: rgba($color: $primary, $alpha: 0.05);

    .title {
      color: $white;
      font-size: 25px;
    }
    .description {
      color: rgba($color: $white, $alpha: 0.5);
      margin-top: 10px;
    }

    .controll {
      display: flex;
      justify-content: end;
      gap: 10px;
      margin-top: 20px;

      .fill_btn {
        width: fit-content;
        padding: 10px 30px;
      }

      .calcle_btn {
        background: transparent;
        color: $primary;
        border-color: $primary;

        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
  }
}
// Confirm Style End ==================>>>

// Loading Style Start ==================>>>
.loading {
  background: $pop_back_drop;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: $primary;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
// Loading End ==================>>>
